* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #0e1025;
  color: #bebec4;
}
i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 4.2rem;
  height: 4.2rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
  background: #26283b;
}

.kick-pad.active {
  background: rgb(113, 223, 243);
  background: radial-gradient(
    circle,
    rgba(113, 223, 243, 1) 4%,
    rgba(51, 107, 239, 1) 71%
  );
}
.snare-pad.active {
  background: rgb(205, 94, 221);
  background: radial-gradient(
    circle,
    rgba(205, 94, 221, 1) 4%,
    rgba(126, 63, 215, 1) 71%
  );
}
.hihat-pad.active {
  background: rgb(229, 243, 114);
  background: radial-gradient(
    circle,
    rgba(229, 243, 114, 1) 4%,
    rgba(244, 179, 58, 1) 71%
  );
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 3rem;
}
.kick,
.snare,
.hihat {
  display: flex;
  max-width: 80%;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
  max-width: 20%;
}
.controls button {
  padding: 1rem;
  border: none;
  background: rgb(88, 88, 88);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
  border-radius: 8px;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: #bebec4;
  cursor: pointer;
  margin-top: 3rem;
  border-radius: 8px !important;
  background: #26283b !important;
  border: 1px solid #32354e !important;
  transition: all 0.3s ease-in-out;
}

.play:hover {
  background: #1a1c29 !important;
}

.play:focus {
  outline: none;
}

select {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 8px;
  background-color: #26283b !important;
  background-position-x: left;
  border: 1px solid #32354e !important;
  color: #bebec4;
  cursor: pointer;
}

select:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.mute {
  border-radius: 8px !important;
  background: #26283b !important;
  border: 1px solid #32354e !important;
}

.mute:hover {
  background: #1a1c29 !important;
}

.mute.active {
  background: rgb(182, 182, 182);
}

.tempo {
  margin: 3rem;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  border-radius: 8px !important;
  background: #26283b !important;
  border: 1px solid #32354e !important;
  cursor: pointer;
  /* border-radius: 1rem; */
}
.tempo p {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}

.mt-2 {
  margin-top: 10px;
}

.icon {
  border-radius: 8px;
  border: 1px solid #bebec4;
  padding: 10px;
}

.icon i {
  font-size: 25px;
}

.icon p {
  font-size: 12px;
}

.b0,
.b1,
.b2,
.b3,
.b8,
.b9,
.b10,
.b11 {
  background: #343752;
}

.tempo_more {
  border-radius: 8px !important;
  background: #26283b !important;
  border: 1px solid #32354e !important;
  width: 25%;
  padding: 1rem 0.2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.me-2 {
  margin-right: 5px;
  width: 30px;
  height: auto;
}

@media (max-width: 1700px) {
  .controls {
    flex-direction: column;
  }
  .controls > * {
    margin-bottom: 15px;
  }
}

.bigger_title {
  text-align: center;
  margin-top: 2rem;
}
