@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Salsa&display=swap');

:root {
  --black: #000;
  --white: #fff;
  --primary: #9175db;
  --secondary: #ffb9db;
  --grey: #f8f8f7;
  --muted: #d3d3d3;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--black);
  background: var(--white);
  font-size: 0.875rem;
  font-family: 'Salsa', cursive;
  transition: all 0.2s ease-in-out;
}

.container {
  margin-right: 7.75rem;
  margin-left: 7.75rem;
}

/* header */

header {
  top: 0px;
  position: fixed;
  background: var(--white);
  width: 100%;
  z-index: 1;
}

header.active {
  box-shadow: 1px 6px 8px -4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 6px 8px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 6px 8px -4px rgba(0, 0, 0, 0.1);
}

.row {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 40px;
  font-weight: bold;
}

.search input {
  width: 32rem;
}

.search span {
  background: var(--grey);
  color: var(--black);
  height: 3rem;
}

.form_control {
  height: 3rem;
  border-radius: 12px;
  background: var(--grey);
  color: var(--black);
  padding: 1.125rem 1.3125rem;
  font-size: 0.75rem;
  border: none;
}

.form_control:focus {
  outline: none;
}

.form_control::placeholder {
  color: var(--muted);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
}

.cart {
  background: var(--black);
  color: var(--white);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.cart:hover {
  background: var(--primary);
}

.text_center {
  text-align: center;
}

main {
  margin-top: 150px;
}

.hero .container {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  background: var(--secondary);
  border-radius: 0.75rem;
  padding-top: 4.8125rem;
  padding-bottom: 4.8125rem;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 0.625rem;
}

.hero p {
  font-size: 18px;
  margin-bottom: 2rem;
}

.btn {
  background: var(--black);
  color: var(--white);
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 12px;
  padding: 0.875rem 2.125rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background: var(--primary);
}

.shop .container {
  display: flex;
}

.col_1 {
  width: 20%;
  margin-top: 2rem;
  position: sticky;
  position: -webkit-sticky;
  top: 153px;
  align-self: flex-start;
}

.col_1 .side {
  background: #f6f6f6;
  padding: 0.625rem 1.3125rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 1.5rem;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.side:hover {
  background: rgba(145, 117, 219, 0.15);
}

.side.active {
  background: var(--primary);
  color: var(--white);
}

.side span {
  border-radius: 50%;
  border: 1px solid transparent;
}

.side span img {
  width: 4rem;
  height: 4rem;
  background-color: #f0f0f0;
  border-radius: 50%;
}

.col_2 {
  width: 80%;
  margin-top: 2rem;
  margin-left: 54px;
}

.col_2 h2 {
  font-size: 40px;
  color: var(--black);
  font-weight: bold;
  margin-bottom: 10px;
}

.col_2 p {
  margin-bottom: 20px;
  font-size: 18px;
}

img {
  height: auto;
  max-width: 100%;
}

.row_like {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
  width: 100%;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.row_like.pills {
  justify-content: space-between;
}

.row_like button {
  border: 1px solid #e4e4e4;
  background: transparent;
  color: var(--black);
  font-size: 14px;
  padding: 14px 20px;
  border-radius: 12px;
  cursor: pointer;
  min-width: 15%;
  transition: all 0.2s ease-in-out;
}

.row_like button:hover {
  background: var(--grey);
}

.prod {
  max-width: 23%;
  cursor: pointer;
  position: relative;
  margin-bottom: 30px;
  margin-left: 2%;
}

.prod:hover > .prod_info {
  opacity: 1;
}

.prod span {
  position: absolute;
  background: var(--white);
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

.prod .fav {
  bottom: 20px;
  left: 20px;
}

.prod span:hover {
  background: var(--primary);
  color: var(--white);
}

.prod img {
  /* max-width: 175px; */
  border-radius: 12px;
  transition: all 0.25s ease-in-out;
}
.me-2 {
  margin-right: 10px;
}

.add_to_cart {
  background: #fff !important;
  border: 1px solid #fff !important;
}

.add_to_cart:hover {
  background: #9175db !important;
  color: white !important;
  border: 1px solid #9175db !important;
}

.prod_info {
  position: absolute;
  opacity: 0;
  top: 0;
  width: 100%;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}
